name: github pages

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: 
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip
      - name: Get pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'mkdocs.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install package
        run: python3 -m pip install .[docs,tests]

      - name: Generate coverage report
        run: |
          python -m pytest --cov=equine --cov-report=html:docs/coverage --cov-report=term --cov-config=pyproject.toml tests -v
        env:
          JUPYTER_PLATFORM_DIRS: 1
          
      - name: Run mkdocs
        run: mkdocs gh-deploy --force --clean --verbose
        env:
          JUPYTER_PLATFORM_DIRS: 1